.wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  
.productPage
  display: flex
  justify-content: space-between
  margin-top: 20px
  &__img
    width: 50%
    height: 400px
  &__tableContainer
    margin-bottom: 20px

.backButton
  margin-bottom: 20px