.basket
  display: flex
  justify-self: flex-end
  position: relative

  &__wrapper
    overflow-y: scroll
    height: 100%
    margin-bottom: 20px

  &__block
    display: flex
    flex-direction: column
    position: fixed
    right: 0px
    top: 0
    padding: 10px 20px
    transform: translateX(200px)
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    opacity: 0
    visibility: hidden
    width: 350px
    height: 100%
    background: #fff
    z-index: 10
    transition: 0.4s

  &__blockActive
    transform: translateX(0)
    opacity: 1
    visibility: visible

  &__header
    display: flex
    justify-content: space-between

  &__img
    width: 100%
    height: 300px

  &__buyButtonBlock
    background: #fff
    height: 120px
    bottom: 20px
    left: 0
    right: 0
    width: 100%

  &__summary
    display: flex
    justify-content: space-between
    margin-top: 10px
    margin-bottom: 10px

  &__info
    display: flex
    justify-content: space-between

  &__infoBlock
    padding: 10px

  &__totalPrice
    font-weight: 700
    font-size: 18px